@font-face {
    font-family: 'GeistVF';
    src: url('GeistVF.woff2') format('woff2'),
         url('GeistVF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.geist {
    font-family: 'GeistVF', sans-serif;
}
