@font-face {
    font-family: 'FONTSPRING DEMO - Lupio';
    src: url('FONTSPRINGDEMO-LupioBlackRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-LupioBlackRegular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

